{% extends 'notice_boards/base.html' %}

{% block content %}
    <h1 class="display-3 text-center ">Edit Notice</h1>
    <form action="{% url 'notice_boards:edit_notice' notice.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group col-md-6 offset-md-3 ">

        <div class="form-group">
          <div class="col-md-4 offset-md-4 mb-4">
            <textarea class="form-control "  name="title" rows="1" placeholder="Title of Notice...">{{ form.title.value }}</textarea>
          </div>
          <label class="col-form-label">Describe your Notice</label>
          <textarea class="form-control" name="text" rows="14" placeholder="Describe your Notice">{{ form.text.value }}</textarea>
            <div class="text-center p-3">
              {{ form.image }}

            </div>
        </div>

        <div class="text-center p-2">
          <button type="submit" name="submit" class="btn btn-outline-success">Submit Notice</button>
        </div>
      </div>
    </form>

{% endblock %}