{% extends 'notice_boards/base.html' %}

{% block content %}
  <div class="text-center m-4 ">
    <h1 class="display-3">{{ topic }}</h1>
  </div>


  <div class="container mt-4">
    {% for notice in notices %}
      <div class="mb-5">
        <div class="card">
          <div class="card-header">
              {{ notice.title | linebreaks }}
          </div>
            <div class="card-body">
             {{ notice.text | linebreaks }}
             {% if notice.image %}
                <img src="{{ notice.image.url }}">
             {% endif %}
          </div>
          <div class="card-body">
            {{ notice.date_added | date:'d M Y H:i'}}
          </div>
        </div>
        <div>
          <a type="button" class="btn btn-outline-secondary" href="{% url 'notice_boards:edit_notice' topic.id %}">Edit Notice</a>
        </div>
      </div>

    {% empty %}
        <h1> List of board is empty </h1>
    {% endfor %}

    <div class="mb-5 text-center p-5">
      <a type="button" class="btn btn-outline-dark" href="{% url 'notice_boards:new_notice' topic.id %}">New Notice</a>
    </div>
  </div>

{% endblock content %}